/* *** Div CSS - Start *** */
.div{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        padding-top: 150px;
        text-align: center;
        font-size: 20px;
        align-items: center;
        width: 300px; 
        height: 15px;
}
/* *** Div CSS - End *** */

/* *** P(1) CSS - Start *** */
#p1{
    position: relative;
    left: -345px;
    float: left;
    text-align: center;
    background-color: #7FFFD4;
    padding: 20px;
    width: 300px;
    height: 70px;
    font-size: 17px;
}
/* *** P(1) CSS - End *** */

/* *** P(2) CSS - Start *** */
#p2{    
    position: relative;
    text-align: center;
    background-color: #66CDAA;
    padding: 10px;
    width: 190px;
    height: 90px;
    font-size: 17px;
    position: absolute;
}
/* *** P(2) CSS - End *** */

/* *** P(3) CSS - Start *** */
#p3{
    position: absolute;
    left: 835px;
    float: right;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
    width: 300px;
    height: 70px;
    align-items: center;
    font-size: 17px;
}
/* *** P(3) CSS - End *** */

